@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?j8xsg');
  src:  url('../../fonts/icomoon.eot?j8xsg#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?j8xsg') format('truetype'),
    url('../../fonts/icomoon.woff?j8xsg') format('woff'),
    url('../../fonts/icomoon.svg?j8xsg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e900";
}
.icon-trash:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial'
}

main {
    height: 100vh;
	display: grid;
	grid-template-columns: 80rem;
	grid-template-rows: 5rem 1fr 4rem;
    justify-content: center;
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.user {
	display: flex;
	text-decoration: none;
	align-items: center;
}

.user p {
	margin-right: 1rem;
	color:;
}

.user img {
	width: 50px;
	border-radius: 50px;
}

.footer {
	display: flex;
	align-items: center;
}

.to-do {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

#activity {
	width: 80%;
	padding: 1rem;
	border-radius: 50px;
	border: 1px solid grey;
}

.add-activity {
	width: 6%;
	padding: 1rem;
	margin-left: 1rem;
	cursor: pointer;
	border-radius: 5px;
}

.to-do-container {
	height: auto;
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 15px;
	box-shadow: 0px 4px 21px 1px #000000;
}

.to-do-list {
	list-style: none;
}

.list-item {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	margin: .5rem 0;
}

.list-item li {
	background-color: #eeeded;
	padding: .5rem;
	margin-right: 1rem;
	border-radius: 5px;
}

.done-activity,
.delate-activity {
	/*margin: .5rem 0;*/
	margin-right: .5rem;
	padding: .5rem;
	border-radius: 5px;
	cursor: pointer;
}

.done-activity {
	background-color: #0F9D58;
}

.delate-activity {
	background-color: #DB4437;
}

.icon-check,
.icon-trash {
	font-size: 1.5rem;
	color: #f6f5f5;
}

.done {
	background-color: #0F9D58 !important; 
	text-decoration: line-through;
	color: white;
}

.delate {
	display: none;
}

.to-do-mobile {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
}

@media screen and (max-width: 767px) {
	main {
		grid-template-columns: 1fr;
		padding: 1rem;
	}	

	.user p {
		display: none;
	}

	.input-container {
		position: fixed;
		bottom: -200vh;
		left: 15vw;
		width: 70%;
		height: 50vh;
		background-color: white;
		z-index: 2;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		box-shadow: 0px -4px 24px 9px rgba(0,0,0,0.54);
		transition: .200s;
	} 

	.show-input {
		bottom: 0;
		transition: .200s;
	}

	.to-do {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#activity {
		width: 50%;
		margin: 2rem 0 1rem;
	}

	.add-activity {
		width: auto;
	}

	.close-window {
		width: 100%;
		padding: 3rem 3rem 0;
		display: flex;
		justify-content: flex-end;
	}

	#close-window {
		width: 1rem;
		height: 1rem;
		border-radius: 50px;
		background-color: #DB4437;
	}

	.to-do-mobile {
		display: block;
	}

	.new-activity-mobile {
		display: flex;
		justify-content: center;
		position: relative;
		top: -2rem;
		z-index: 1;
	}

	#activity-mobile {
		font-size: 2rem;
		padding: 1rem;
		border-radius: 50px;
		color: #4285F4;
		background-color: white;
		box-shadow: 4px 21px 50px 5px rgba(0,0,0,0.69);
	}
}